language: java

os:
  - linux
jdk:
  - oraclejdk9
addons:
  apt:
    packages:
    - junit4
    - libmockito-java
script:
  - make clean
  - make compileTest
  - make runCov
  - make calCov
branches:
  only:
    - master
after_success:
  - bash <(curl -s https://codecov.io/bash)
